<h1 class="mt-5">Add Product</h1>
<hr>


<form [formGroup]="myForm">
    <div class="row g-3 align-items-center mb-3">
        <div class="col-auto">
            <label for="" class="col-form-label">Name:</label>
        </div>
        <div class="col-auto">
            <input class="form-control"
                   formControlName="name">
        </div>
        <div class="col-auto">
            <span error-msg
                  [color]="myColor"
                  [message]="text1"
                  [valid]="!hasError('name')">
                
            </span>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <button class="btn btn-primary"
                    (click)="changeName()">Save</button>
            <button class="btn btn-primary ms-3"
                    (click)="changeColor()">Save</button>
        </div>
    </div>
</form>

<h3 class="mt-5">Form</h3>
<pre>Value: {{ myForm.value | json }}</pre>
<pre>Value: {{ myForm.valid }}</pre>


<div class="row mt-5">
    <div class="col">
        <div class="alert alert-primary"
             *customIf="myForm.valid">
            all Ok!
        </div>
    </div>
</div>