<h1 class="mt-5">Add Product</h1>
<hr>


<form>
    <div class="row g-3 align-items-center mb-3">
        <div class="col-auto">
            <label for="" class="col-form-label">Name:</label>
        </div>
        <div class="col-auto">
            <input for="" class="form-control">
        </div>
        <div class="col-auto">
            <span class="form-text">this field is required</span>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <button class="btn btn-primary ">Save</button>
        </div>
    </div>
</form>

<h3 class="mt-5">Form</h3>
